html,
body {
  height: 100%;
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0 55px;
  font-family: "Montserrat", sans-serif;
  color: #141414;
  background-color: #fcfcfc;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.title {
  margin: 0;
  margin-left: 48px;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 24px;
}

.header {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
  padding: 18px 0;
  background-color: #fcfcfc;
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.header .logo {
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  width: 250px;
  margin-left: 48px;
  color: rgba(79, 202, 21, 0.93);
  font-weight: 900;
  font-size: 22px;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.header .nav a {
  margin-right: 100px;
  font-size: 20px;
  text-decoration: none;
  color: #141414;
  font-weight: 700;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  position: relative;
  cursor: pointer;
}

.header .nav a:before, .header .nav a:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0px;
  height: 4px;
  margin: 4px 0 0;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-transition-duration: 0.47s;
  transition-duration: 0.47s;
  opacity: 0;
  background-color: rgba(79, 202, 21, 0.93);
  left: 0;
}

.header .nav a:hover:before, .header .nav a:hover:after {
  width: 100%;
  opacity: 1;
}

a.anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

#hero {
  background-image: url("../img/hero.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right top;
  min-height: 79%;
  padding-top: 60px;
}

#hero .hero__text {
  font-size: 48px;
  margin-left: 48px;
  font-weight: 900;
}

#hero .hero__text--green {
  color: #4fca15;
}

#reports {
  margin-bottom: 20px;
}

#reports .report {
  text-decoration: none;
  background-color: #4fca15;
  color: #fafafa;
  font-size: 32px;
  font-weight: 700;
  padding: 20px 0;
  padding-left: 48px;
  display: block;
  margin-bottom: 15px;
}

#reports .report:hover {
  text-decoration: underline;
}

#reports .report:nth-child(2n) {
  letter-spacing: 0px;
  font-size: 18px;
}

#contacts {
  margin-bottom: 20px;
}

#contacts .grid-container {
  margin-left: 56px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% [2];
  grid-template-columns: repeat(2, 50%);
  font-size: 32px;
  font-weight: 700;
}

#contacts .grid-container a {
  color: #141414;
  text-decoration: none;
}

#contacts .grid-container a:hover {
  text-decoration: underline;
}

.footer {
  border-top: 1px solid #e5e5e5;
  padding: 16px 56px;
  font-weight: 700;
}

.footer .footer--tov {
  font-size: 16px;
}

.footer .mir4ri {
  text-decoration: none;
  color: #4fca15;
}

.footer .mir4ri:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1500px) {
  body {
    margin: 0;
    padding: 0 35px;
    font-family: "Montserrat", sans-serif;
    color: #141414;
    background-color: #fcfcfc;
  }
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .title {
    margin-left: 36px;
    font-size: 36px;
    margin-bottom: 14px;
  }
  .header {
    padding: 14px 0;
  }
  .header .logo {
    width: 250px;
    margin-left: 36px;
    font-size: 22px;
  }
  .header .nav a {
    font-size: 18px;
  }
  #hero {
    min-height: 79.6%;
  }
  #hero .hero__text {
    font-size: 36px;
    margin-left: 48px;
    font-weight: 900;
  }
  #contacts .grid-container {
    margin-left: 36px;
    font-size: 28px;
  }
  .footer {
    padding: 16px 36px;
  }
}
/*# sourceMappingURL=desktop.css.map */
