@media screen and (max-width: 1200px) {
  body {
    margin: 0;
    padding: 0;
    font-size: 14px;
  }

  .title {
    margin: 0;
    margin-left: 12px;
    font-size: 28px;
    margin-bottom: 14px;
  }

  .header {
    padding: 18px 12px;
    .logo {
      width: 150px;
      margin-left: 0px;
      font-size: 16px;
    }
    .nav {
      flex-direction: column;
      a {
        margin-right: 0px;
        font-size: 14px;
        text-align: right;
        margin-bottom: 3px;
      }
    }
  }
  #hero {
    margin-bottom: 20px;
    background-size: 170% 102%;
    background-position: 42% 200%;
    min-height: 100%;
    padding-left: 10px;
    padding-top: 50px;
    .hero__text {
      font-size: 20px;
      margin-left: 0px;
    }
  }

  #reports {
    .report {
      font-size: 26px;
      padding-left: 12px;
      &:nth-child(3) {
        font-size: 15px;
      }
    }
  }

  #contacts {
    margin-bottom: 20px;
    .grid-container {
      margin-left: 12px;
      display: grid;
      grid-template-columns: repeat(1, 100%);
      font-size: 22px;
    }
  }

  .footer {
    padding: 16px 0;
    text-align: center;
    flex-direction: column-reverse;
    .footer--tov {
      font-size: 14px;
    }
    span {
      margin-bottom: 10px;
    }
  }
}
